@model Marymirthulasample1.Models.Register_table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_LayoutHome1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Register_table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confirmpassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confirmpassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datex)
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("Back to List", "Homepage")
</p>
